@import 'px2rem.scss';

.center-header{
    padding: px2rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info{
        overflow: hidden;
        line-height: px2rem(80);
        font-size: px2rem(28);
        
        img{
            float: left;
            margin-right: px2rem(20);
            width: px2rem(80);
            height: px2rem(80);
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .edit{
        a{
            display: block;
            padding: px2rem(20);
        }

        i{
            color: #333;
            font-size: px2rem(40);
        }
    }
}

.center-list{
    background-color: #fff;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;

    li{
        &:last-child .item-inner{
            border-bottom: none;
        }
    }

    a{
        display: flex;
        position: relative;
        align-items: center;
        height: px2rem(75);
        padding-left: px2rem(25);
        color: #333;
        font-size: px2rem(30);

        .item-media{
            i{
                font-size: px2rem(36);
            }
        }

        .item-inner{
            position: relative;
            margin-left: px2rem(25);
            width: 100%;
            height: px2rem(80);
            box-sizing: border-box;
            border-bottom: 1px solid #c8c7cc;
            line-height: px2rem(80);

            &:after{
                position: absolute;
                content: '';
                box-sizing: border-box;
                top: 50%;
                right: px2rem(20);
                width: px2rem(20);
                height: px2rem(20);
                margin-top: - px2rem(10);
                border-top: 3px solid #c8c7cc;
                border-right: 3px solid #c8c7cc;
                transform: rotate(45deg);
            }
        }
    }
}

.edit-name-box{
    position: relative;
    margin-top: px2rem(10);

    .edit-name{
        border: none;
        width: 100%;
        height: px2rem(80);
        box-sizing: border-box;
        padding: 0 px2rem(30);
        @include font-dpr(16px);
    }

    .del{
        position: absolute;
        display: none;
        top: px2rem(20);
        right: px2rem(20);
        width: px2rem(40);
        height: px2rem(40);
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        line-height: px2rem(42);

        &.show{
            display: block;
        }
    }
}