@import 'px2rem.scss';

.toolbar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: px2rem(90);
    background: #fff;
    width: 100%;
    font-size: px2rem(22);
    border-top: 1px solid #eee;
    z-index: 500;

    a{
        color: #333;
        text-decoration: none;

        i{
            font-size: px2rem(28);
        }

        span{
            display: block;
            margin-top: 3px;
        }
    }

    .active{
        color: #f60;
    }
}